dbUrl      = {DB_URL}
dbUser     = {DB_USER}
dbPassword = {DB_PASSWORD}

consumerKey       = {CONSUMER_KEY}
consumerSecret    = {CONSUMER_SECRET}
accessToken       = {ACCESS_TOKEN}
accessTokenSecret = {ACCESS_TOKEN_SECRET}
